*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 1px solid black;
}
body{
    height: 5000px;
}
html{
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #e77200;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.6);

    margin-bottom: 30px;
}

header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.logo{
    height: 50px;
    padding: 5px;
}
.container{
    display: flex;
}

main div{
    margin: 0 auto;
}
.card{
    width: fit-content;
    overflow: hidden;
}

.card img{
    width: 300px;
}

nav div p:first-child{
    text-transform: capitalize;
}

nav div p:nth-of-type(even){
    text-transform: uppercase;
    font-weight: bold;
    
}

nav div p:last-child{
    color: red;
    font-weight: bold;
}

nav div p span{
    color: black;
    font-weight: normal;
    text-decoration: line-through;
}
